*{
  box-sizing: border-box;
}
body{
  margin:0;
  background-image: url("http://www.nutritionaloutlook.com/sites/default/files/images/media/iStock_000017340474Medium.jpg")
}
.clearfix{
  clear:both;
}
.header-banner{
  padding-top:35px;
  padding-bottom:100px;
  font-family:Helvetica, serif;
  background-color: black;
  background-attachment:fixed, scroll;
  background-position-x:left, center;
  background-position-y:top, center;
  background-repeat-x:no-repeat, no-repeat;
  background-repeat-y:repeat, no-repeat;
  background-size:contain, cover;
  padding:35px 18px 100px 0px;
  width:1200px;
  margin:36px 0px 0px 180px;
  border:3px solid #ffffff;
  color:#000000;
  font-size:28px;
  font-weight:200;
  text-align:center;
}
.container-width{
  width:90%;
  max-width:1150px;
  margin-top:0px;
  margin-right:auto;
  margin-bottom:0px;
  margin-left:auto;
  border:0px solid black;
}
.logo-container{
  float:left;
  width:50%;
}
.logo{
  background-color:rgb(255, 255, 255);
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  width:1058px;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  min-height:30px;
  text-align:center;
  line-height:30px;
  font-size:36px;
  margin:0px 2px 0px 0px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:700;
  color:#000000;
  padding:22px 10px 45px 10px;
  height:68px;
  border-radius:0px;
}

input[type=submit]
{
  margin-top:15px;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  width:200px;
  min-height:30px;
  font-size:30px;
  letter-spacing:3px;
  line-height:30px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  transition-duration:0.5s;
  transition-timing-function:ease;
  transition-delay:initial;
  transition-property:all;
  cursor:pointer;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  float:none;
  margin:43px 0px 0px 451px;
  font-weight:600;
  background-color:#ff1919;
  color:#ffffff;
  border:3px solid #ffffff;


  
}

.lead-btn{
  margin-top:15px;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  width:200px;
  min-height:30px;
  font-size:30px;
  letter-spacing:3px;
  line-height:30px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  transition-duration:0.5s;
  transition-timing-function:ease;
  transition-delay:initial;
  transition-property:all;
  cursor:pointer;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  float:none;
  margin:43px 0px 0px 451px;
  font-weight:600;
  background-color:#ff1919;
  color:#ffffff;
  border:3px solid #ffffff;
}
.lead-btn:hover{
  background-color:rgb(255, 255, 255);
  color:rgb(76, 17, 78);
}
.lead-btn:active{
  background-color:rgb(77, 17, 79);
  color:rgb(255, 255, 255);
}
.row{
  display:table;
  padding-top:10px;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  width:100%;
}
.cell{
  width:8%;
  display:table-cell;
  height:75px;
}
#wrapper{
  margin:0;
}
#c1009{
  padding:50px 100px;
  color:#ffffff;
  background-color:#000000;
  text-align:center;
  font-size:54px;
  font-family:Helvetica, serif;
  font-weight:700;
}
#c5920{
  padding:27px 10px 10px 93px;
  background-color:#ffffff;
  margin:0px 0px 0px 0px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:700;
  text-align:left;
  width:auto;
}
#c5988{
  padding:21px 10px 37px 96px;
  background-color:#ffffff;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:700;
  text-align:left;
}
#c7960{
  padding:10px;
  color:#000000;
  background-color:#ffffff;
  font-weight:300;
}
input[type=text]
{ padding:5px 10px 10px 5px;
  color:#000000;
  font-size:28px;
  font-family:Helvetica, serif;
  font-weight:100;
  background-color:#ffffff;
 text-align:center;


}


#c8679{
  padding:10px;
  text-align:center;
  font-family:Helvetica, serif;
  font-weight:100;
  font-size:20px;
  border:mediumpx solid #000000;
  background-color:#000000;
  color:#ffffff;
}
@media (max-width: 768px){
  .cell{
    width:100%;
    display:block;
  }
}
